mixin-btn($ratio)
  $size = (25 * $ratio)
  size $size px
  font-size (( 17 * $size ) / 25)px
  color white
  cursor pointer

.btn
  mixin-btn(1)

.btn-2x
  mixin-btn(2)

.btn--circle
  display flex
  justify-content center
  align-items center
  border 2px solid white
  border-radius 100%
